.container {
    width: auto;
    height: 900px;
    display: flex;
    /*Gives space dependent on the Main Axis*/
    justify-content: space-around;
    /*Default alignment for all of the container's childrens*/
    align-items: flex-start;
}

.item-One {
    /*This item does not shrink whenever browser size is changed*/
    flex-shrink: 0;
    /*Aligns the item at the end of the container*/
    align-self: flex-end;
}

.item.two {
    /*This item gains twice the available space of when the browser change sizes*/
    flex-grow: 2;
    /*Aligns the item at the center of the container*/
    align-self: center;
}

.item-three {
    /*flex-basis tells the item when to start growing from*/
    flex-basis: 0;
    /*Aligns the item at the top of the container*/
    align-self: flex-start;
}