.parent {

}

/*Elements are placed based on how they were typed in document*/
.child-One {
    position: static
}

/*Element can move based on these four arguments*/
.child-Two {
    position: relative;
    top: 10px;
    left: 25px;
    bottom: 35px;
    right: 8px;
}

/*Element cannot be seen, and elements around cannot move*/
.child-Three {
    position: absolute
}

/*Element cannot move from it's origin position*/
.child-Four {
    position: fixed
}

/*Element can move until it hits the top which then cause it position 
  to become fixed*/
.child-Five {
    position: sticky
}